<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UberEats</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://kit.fontawesome.com/9563718032.js" crossorigin="anonymous"></script>
    <script src="/scripts/btn-up.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="header__logo">
                <a href="#"><img class="header__logo_img" src="/src/img/logos/logo.svg", alt="Logo"></a>
            </div>
            <div class="header__location">
                <button class="btn__whitestyle"><span>ASAP</span></button>
                <span class="thin-weight", style="color: var(--gray-text)">to
                    <img class="location_img", src="/src/img/geo-alt.svg" alt="">
                </span>
                <input class="location_input", type="text" name="location" id="">
            </div>
            <div class="header__auth">
                <button class="btn__whitestyle bold-weight">Sign in</button>
                <button class="btn__blackstyle bold-weight">Register</button>
                <button class="header__auth_cart"><img src="/src/img/bag.svg", alt="Cart"></button>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="main__search">
                <img style="height: 22px;" src="/src/img/search.svg" alt="">
                <input class="main__search_input" type="search" placeholder="Search for restaurant or cuisine" name="search" id="">
            </div>
            <div>
                <div class="main__location">
                    <span class="thin-weight", style="color: var(--gray-text)">When</span>
                    <button class="btn__whitestyle"><span>ASAP</span></button>
                    <span class="thin-weight", style="color: var(--gray-text)">to
                        <img class="location_img", src="/src/img/geo-alt.svg" alt="">
                    </span>
                    <input class="location_input", type="text" name="location" id="">
                </div>
            </div>
            <div>
                <div style="font-size: 22px; padding-left: 4px; margin-top: 56px;">Moscow restaurans</div>
                <div class="main__catalog">
                    <div class="main__catalog_card">
                        <a  href="#">
                            <img class="catalog_card-img" src="/src/img/95b745f6ce6a45903c3ed254afd72e46-w550-27.jpg", alt="image">
                            <div class="catalog_card-restaurant"><span>Макдак - Газетный</span></div>
                            <div class="catalog_card-info"><span>₽₽</span> • <span>Бургеры</span></div>
                            <div class="catalog_card-time"><span>25 - 35 Min</span></div>
                        </a>
                    </div>
                    <div class="main__catalog_card">
                        <a  href="#">
                            <img class="catalog_card-img" src="/src/img/95b745f6ce6a45903c3ed254afd72e46-w550-27.jpg", alt="image">
                            <div class="catalog_card-restaurant"><span>Макдак - Газетный</span></div>
                            <div class="catalog_card-info"><span>₽₽</span> • <span>Бургеры</span></div>
                            <div class="catalog_card-time"><span>25 - 35 Min</span></div>
                        </a>
                    </div>
                    <div class="main__catalog_card">
                        <a  href="#">
                            <img class="catalog_card-img" src="/src/img/95b745f6ce6a45903c3ed254afd72e46-w550-27.jpg", alt="image">
                            <div class="catalog_card-restaurant"><span>Макдак - Газетный</span></div>
                            <div class="catalog_card-info"><span>₽₽</span> • <span>Бургеры</span></div>
                            <div class="catalog_card-time"><span>25 - 35 Min</span></div>
                        </a>
                    </div>
                    <div class="main__catalog_card">
                        <a  href="#">
                            <img class="catalog_card-img" src="/src/img/95b745f6ce6a45903c3ed254afd72e46-w550-27.jpg", alt="image">
                            <div class="catalog_card-restaurant"><span>Макдак - Газетный</span></div>
                            <div class="catalog_card-info"><span>₽₽</span> • <span>Бургеры</span></div>
                            <div class="catalog_card-time"><span>25 - 35 Min</span></div>
                        </a>
                    </div>
                    <div class="main__catalog_card">
                        <a  href="#">
                            <img class="catalog_card-img" src="/src/img/95b745f6ce6a45903c3ed254afd72e46-w550-27.jpg", alt="image">
                            <div class="catalog_card-restaurant"><span>Макдак - Газетный</span></div>
                            <div class="catalog_card-info"><span>₽₽</span> • <span>Бургеры</span></div>
                            <div class="catalog_card-time"><span>25 - 35 Min</span></div>
                        </a>
                    </div>
                    <div class="main__catalog_card">
                        <a  href="#">
                            <img class="catalog_card-img" src="/src/img/95b745f6ce6a45903c3ed254afd72e46-w550-27.jpg", alt="image">
                            <div class="catalog_card-restaurant"><span>Макдак - Газетный</span></div>
                            <div class="catalog_card-info"><span>₽₽</span> • <span>Бургеры</span></div>
                            <div class="catalog_card-time"><span>25 - 35 Min</span></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <img src="/src/img/logos/white-logo.svg" alt="white-logo">
            <div class="footer__info">
                <div class="footer__info_block">
                    <div class="localization">
                        <button class="accordion">
                            <div>
                                <i class="fa-solid fa-globe"></i>
                                <span>English</span>
                            </div>
                            <i class="fa-solid fa-chevron-down"></i>
                        </button>
                    </div>
                    <div class="info_hashtag">
                        <span class="info_hashtag-hash">#</span><span class="tag">UberEats</span>
                    </div>
                    <div class="info_socials">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
                <div class="footer__info_block">
                    <a href="#">About UberEats</a>
                    <a href="#">Become a Delivery Partner</a>
                    <a href="#">Become a Restaurant Partner</a>
                </div>
                <div class="footer__info_block">
                    <a href="#">See all cities</a>
                    <a href="#">Pricing</a>
                    <a href="#">Help</a>
                    <a href="#">FAQs</a>
                </div>
            </div>
            <div class="footer__downloads">
                <img src="/src/img/Group.png" alt="appstore">
                <img src="/src/img/en_badge_web_generic-cf6dad406f.png" alt="googleplay">
            </div>
            <div class="footer__copyright">
                <span>© 2017 Uber Technologies Inc.</span>
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
            </div>
        </div>
    </footer>
    <button id="btn_up" class="btn-up"><i class="fa-solid fa-chevron-up" style="color: #ffffff; font-size: 30px;"></i></button>
</body>
</html>