<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UberEats</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://kit.fontawesome.com/9563718032.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div class="container">
            <div id="nav_logo", class="logo">
                <img src="/src/img/logos/logo.svg", alt="Logo">
            </div>
            <div id="nav_location", class="choose_location">
                <button class="white__button"><span>ASAP</span></button>
                <span class="thin__weight", style="color: var(--gray-text)">to
                    <img class="location", src="/src/img/geo-alt.svg" alt="">
                </span>
                <input class="nav__input", type="text" name="location" id="">
            </div>
            <div id="nav_auth", class="buttons_block">
                <button class="white__button bold__weight">Sign in</button>
                <button class="black__button bold__weight">Register</button>
                <button class="cart"><img src="/src/img/bag.svg", alt="Cart"></button>
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="search">
                <img style="height: 22px;" src="/src/img/search.svg" alt="">
                <input class="" type="search" placeholder="Search for restaurant or cuisine" name="search" id="">
            </div>
            <div>
                <div class="choose_location">
                    <span class="thin__weight", style="color: var(--gray-text)">When</span>
                    <button class="white__button"><span>ASAP</span></button>
                    <span class="thin__weight", style="color: var(--gray-text)">to
                        <img class="location", src="/src/img/geo-alt.svg" alt="">
                    </span>
                    <input class="nav__input", type="text" name="location" id="">
                </div>
            </div>
            <div>
                <div style="font-size: 22px; padding-left: 4px; margin-top: 56px;">Moscow restaurans</div>
                <div class="catalog">
                    <div class="card">
                        <a  href="#">
                            <img src="/src/img/95b745f6ce6a45903c3ed254afd72e46-w550-27.jpg", alt="image">
                            <div class="restaurant"><span>Макдак - Газетный</span></div>
                            <div class="info"><span>₽₽</span> • <span>Бургеры</span></div>
                            <div class="time"><span>25 - 35 Min</span></div>
                        </a>
                    </div>
                    <div class="card">
                        <a  href="#">
                            <img src="/src/img/95b745f6ce6a45903c3ed254afd72e46-w550-27.jpg", alt="image">
                            <div class="restaurant"><span>Макдак - Газетный</span></div>
                            <div class="info"><span>₽₽</span> • <span>Бургеры</span></div>
                            <div class="time"><span>25 - 35 Min</span></div>
                        </a>
                    </div>
                    <div class="card">
                        <a  href="#">
                            <img src="/src/img/95b745f6ce6a45903c3ed254afd72e46-w550-27.jpg", alt="image">
                            <div class="restaurant"><span>Макдак - Газетный</span></div>
                            <div class="info"><span>₽₽</span> • <span>Бургеры</span></div>
                            <div class="time"><span>25 - 35 Min</span></div>
                        </a>
                    </div>
                    <div class="card">
                        <a  href="#">
                            <img src="/src/img/95b745f6ce6a45903c3ed254afd72e46-w550-27.jpg", alt="image">
                            <div class="restaurant"><span>Макдак - Газетный</span></div>
                            <div class="info"><span>₽₽</span> • <span>Бургеры</span></div>
                            <div class="time"><span>25 - 35 Min</span></div>
                        </a>
                    </div>
                    <div class="card">
                        <a  href="#">
                            <img src="/src/img/95b745f6ce6a45903c3ed254afd72e46-w550-27.jpg", alt="image">
                            <div class="restaurant"><span>Макдак - Газетный</span></div>
                            <div class="info"><span>₽₽</span> • <span>Бургеры</span></div>
                            <div class="time"><span>25 - 35 Min</span></div>
                        </a>
                    </div>
                    <div class="card">
                        <a  href="#">
                            <img src="/src/img/95b745f6ce6a45903c3ed254afd72e46-w550-27.jpg", alt="image">
                            <div class="restaurant"><span>Макдак - Газетный</span></div>
                            <div class="info"><span>₽₽</span> • <span>Бургеры</span></div>
                            <div class="time"><span>25 - 35 Min</span></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <img src="/src/img/logos/white-logo.svg" alt="white-logo">
            <div class="info">
                <div class="block">
                    <div class="localization">
                        <button class="accordion">
                            <div>
                                <i class="fa-solid fa-globe"></i>
                                <span>English</span>
                            </div>
                            <i class="fa-solid fa-chevron-down"></i>
                        </button>
                    </div>
                    <div class="hashtag">
                        <span class="hash">#</span><span class="tag">UberEats</span>
                    </div>
                    <div class="socials">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
                <div class="block">
                    <a href="#">About UberEats</a>
                    <a href="#">Become a Delivery Partner</a>
                    <a href="#">Become a Restaurant Partner</a>
                </div>
                <div class="block">
                    <a href="#">See all cities</a>
                    <a href="#">Pricing</a>
                    <a href="#">Help</a>
                    <a href="#">FAQs</a>
                </div>
            </div>
            <div class="downloads">
                <img src="/src/img/Group.png" alt="appstore">
                <img src="/src/img/en_badge_web_generic-cf6dad406f.png" alt="googleplay">
            </div>
            <div class="copyright">
                <span>© 2017 Uber Technologies Inc.</span>
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
            </div>
        </div>
    </footer>
</body>
</html>